<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-&nbsp;Reid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.css') }}">
    <!-- jQuery文件 -->
    <script src="{{ url_for('static', filename='javascript/jquery.min.js') }}"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="{{ url_for('static', filename='javascript/popper.min.js') }}"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="{{ url_for('static', filename='image/reid.png') }}" class="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">首页<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.homepage') }}">个人中心</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        工具
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('blog') }}">博客</a>
                        <a class="dropdown-item" href="#">笔记</a>
                        <a class="dropdown-item" href="#">Date matter</a>
                        <a class="dropdown-item" href="{{ url_for('contents') }}">SETU site</a>
                        <a class="dropdown-item" href="#">Something else</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 mx-4 my-lg-0">
                <input type="text" class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="请输入关键字">
                <button type="submit" class="btn btn-sm btn-outline-secondary">查找</button>
            </form>
            <ul class="nav navbar-nav navbar-right ">
                {% if user %}
                <li><a href="{{ url_for('user.homepage') }}">{{ user.userName }}</a></li>
                <li><a class="mx-1" href="{{ url_for('account.logout') }}">点击注销</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">注册/登录</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="main-body">
    {% block main %}{% endblock %}
</div>
</body>
</html>