{% extends 'BaseTemplate/NavigationBar.html' %}
{% block title %}注册{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}{}
{% block main %}
    <div class="form-container">
        <h3 style="text-align: center">注册</h3>
        <p>{{ message }}</p>
        <form action="" method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password2" placeholder="Password again">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">注册</button>
            </div>
        </form>
        <table width="100%">
            <tr>
                <td width="90%" style="text-align: left"><a href="">注册即同意用户协议,点击查看</a></td>
            </tr>
        </table>
    </div>
{% endblock %}